@use '../abstracts/mixin' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/media-query' as *;


.footer {
  background-color: $secondary-100;
  padding: 5rem 0;
  color: $white;

  &__container {
    @include container;
    display: grid;
    grid-template-columns: .4fr 1fr .6fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "logo url form"
    "icons url text";
    
    @include screen-edit("950px") {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);
      grid-template-areas: 
      "form"
      "url"
      "icons"
      "logo"
      "text";
      row-gap: 2rem;
    }
  }

  &__logo {
    height: 2rem;
    width: auto;
    grid-area: logo;
    @include screen-edit("950px") {
      width: 15rem;
      height: auto;
      margin: auto;
    }
  }


  &__copyright {
    grid-area: text;
    text-align: end;
    font-size: .8em;
    color: $secondary-300;
    grid-area: text;
    @include screen-edit("950px") {
      text-align: center;
    }
  }

  &__input {
    background-color: #fff;
    padding: 1em 1em;
    border-radius: 2em;
    color: black;

    &:focus {
      outline: 1px solid $primary;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr .27fr;
    grid-area: form;
    align-items: start;
    gap: 1em;
  }

  &__button {
    padding: 1em 1em;
    background-color: $primary;
    border-radius: 1.5em;
    transition: background-color .4s;
    cursor: pointer;

    &:hover {
      background-color: lighten($primary, 10%);
    }
  }
}

.links {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 1.5em;
  padding: 0 8rem;
  grid-area: url;

  &__link {
    width: fit-content;
    transition: color 0.3s;
    &:hover {
      color: $primary;
    }
  }

  @include screen-edit('1111px') {
    padding: 0 4rem;
  }
}

.icons {
  grid-area: icons;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1em;
  row-gap: .5em;
  font-size: 1.4em;

  &__icon {   
    &:hover{
      color: $primary;
    }
  }

  @include screen-edit("950px") {
    margin: auto;
    font-size: 3em;
  }
}