@use '../abstracts/colors' as *;
@use '../abstracts/media-query' as *;

.main {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  
  &__bg {
    height: 60rem;
    width: 60rem;
    position: absolute;
    background-image: url('../../images/bg-tablet-pattern.svg');
    z-index: -1;
    right: 0;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    transform: translate(6rem, -20rem);

    @include screen-1500 {
      transform: translate(20rem, -20rem);
    }

    @include screen-tablet {
      height: 50rem;
      width: 50rem;
      transform: translate(5rem, -13rem);
    }

    @include screen-edit("730px") {
      transform: translate(15rem, -15rem);
    }

    @include screen-edit("600px") {
      transform: translate(10rem, -5rem);
      height: 40rem;
      width: 40rem;
    }

    @include screen-edit("480px") {
      transform: translate(16rem, -10rem);
    }
  }
}